.scrollspySite{
	position: relative;
	overflow: auto;
	height: 390px;
}

.altera-fontes {
   
   font-family: "Edo SZ" //caso queira mudar o tipo de fonte

}

.altera-cores {
	
	background-color: #FFFF66;  //altera cor do fundo
}

.altera-fonte-tamanho {
font-size: 50px;
}

.altera-fonte-tamanho2 {
font-size: 20px;
}

